{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

    {% for post in posts %}
        <div class="blog">
            <div class="red">{{ post.title }}</div>

            {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'posts:edit' post.slug %}">modifier</a> - <a href="{% url 'posts:delete' post.slug %}">supprimer</a>
            </div>
            {% endif %}

            <p>Publié(e) par <i>{{ post.author_or_not }}</i> le {{ post.created_on|date:'j F Y' }}</p>
            <p>{{ post.content|safe|truncatewords:50 }}</p>
            <button><a href="{% url 'posts:detail' post.slug %}">Lire</a></button>
        </div>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    </div>

{% endblock %}